In [1]:
%pip install pyspark

Requirement already satisfied: pyspark in c:\users\user\desktop\retail_sales_trend\env\lib\site-packages (4.0.0)
Requirement already satisfied: py4j==0.10.9.9 in c:\users\user\desktop\retail_sales_trend\env\lib\site-packages (from pyspark) (0.10.9.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("RetailSalesAnalysis").master('local').getOrCreate()

df_shopping_data = spark.read.csv("customer_shopping_data.csv", header=True, inferSchema=True)
df_shopping_data.show()

+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|invoice_no|customer_id|gender|age|       category|quantity|  price|payment_method|invoice_date|    shopping_mall|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
|   I138884|    C241288|Female| 28|       Clothing|       5| 1500.4|   Credit Card|    5/8/2022|           Kanyon|
|   I317333|    C111565|  Male| 21|          Shoes|       3|1800.51|    Debit Card|  12/12/2021|   Forum Istanbul|
|   I127801|    C266599|  Male| 20|       Clothing|       1| 300.08|          Cash|   9/11/2021|        Metrocity|
|   I173702|    C988172|Female| 66|          Shoes|       5|3000.85|   Credit Card|  16/05/2021|     Metropol AVM|
|   I337046|    C189076|Female| 53|          Books|       4|   60.6|          Cash|  24/10/2021|           Kanyon|
|   I227836|    C657758|Female| 28|       Clothing|       5| 1500.4|   Credit Card|  24/05/2022|   Forum Istanbul|
|   I121056|    C151197|Female| 49|      Cosmetics|       1|  40.66|          Cash|  13/03/2022|     Istinye Park|
|   I293112|    C176086|Female| 32|       Clothing|       2| 600.16|   Credit Card|  13/01/2021| Mall of Istanbul|
|   I293455|    C159642|  Male| 69|       Clothing|       3| 900.24|   Credit Card|   4/11/2021|        Metrocity|
|   I326945|    C283361|Female| 60|       Clothing|       2| 600.16|   Credit Card|  22/08/2021|           Kanyon|
|   I306368|    C240286|Female| 36|Food & Beverage|       2|  10.46|          Cash|  25/12/2022|        Metrocity|
|   I139207|    C191708|Female| 29|          Books|       1|  15.15|   Credit Card|  28/10/2022|Emaar Square Mall|
|   I640508|    C225330|Female| 67|           Toys|       4| 143.36|    Debit Card|  31/07/2022|        Metrocity|
|   I179802|    C312861|  Male| 25|       Clothing|       2| 600.16|          Cash|  17/11/2022|      Cevahir AVM|
|   I336189|    C555402|Female| 67|       Clothing|       2| 600.16|   Credit Card|    3/6/2022|           Kanyon|
|   I688768|    C362288|  Male| 24|          Shoes|       5|3000.85|   Credit Card|   7/11/2021|   Viaport Outlet|
|   I294687|    C300786|  Male| 65|          Books|       2|   30.3|    Debit Card|  16/01/2021|        Metrocity|
|   I195744|    C330667|Female| 42|Food & Beverage|       3|  15.69|   Credit Card|    5/1/2022|     Zorlu Center|
|   I993048|    C218149|Female| 46|       Clothing|       2| 600.16|          Cash|  26/07/2021|     Metropol AVM|
|   I992454|    C196845|  Male| 24|           Toys|       4| 143.36|          Cash|    7/3/2023|      Cevahir AVM|
+----------+-----------+------+---+---------------+--------+-------+--------------+------------+-----------------+
only showing top 20 rows

In [8]:
df_shopping_data.createOrReplaceTempView('shopping_data')
df_shopping_data.printSchema()

query = """
SELECT category, COUNT(*) AS total_sales
FROM shopping_data
GROUP BY category
"""

result_df = spark.sql(query)
result_df.show()

root
 |-- invoice_no: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- price: double (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- invoice_date: string (nullable = true)
 |-- shopping_mall: string (nullable = true)

+---------------+-----------+
|       category|total_sales|
+---------------+-----------+
|Food & Beverage|      14776|
|       Clothing|      34487|
|       Souvenir|       4999|
|          Books|       4981|
|     Technology|       4996|
|      Cosmetics|      15097|
|          Shoes|      10034|
|           Toys|      10087|
+---------------+-----------+

In [ ]:
df_shopping_data.select("invoice_date").show(5)

# Convert string date to proper date format
from pyspark.sql.functions import to_date, month, quarter, year, when, coalesce

# Handle mixed date formats
df_with_dates = df_shopping_data.withColumn("date", 
    coalesce(
        to_date(df_shopping_data.invoice_date, "d/M/yyyy"),
        to_date(df_shopping_data.invoice_date, "M/d/yyyy")
    )
)

# Show the converted dates
df_with_dates.select("invoice_date", "date").show(5)

+------------+
|invoice_date|
+------------+
|    5/8/2022|
|  12/12/2021|
|   9/11/2021|
|  16/05/2021|
|  24/10/2021|
+------------+
only showing top 5 rows
+------------+----------+
|invoice_date|      date|
+------------+----------+
|    5/8/2022|2022-08-05|
|  12/12/2021|2021-12-12|
|   9/11/2021|2021-11-09|
|  16/05/2021|2021-05-16|
|  24/10/2021|2021-10-24|
+------------+----------+
only showing top 5 rows
+------------+----------+
|invoice_date|      date|
+------------+----------+
|    5/8/2022|2022-08-05|
|  12/12/2021|2021-12-12|
|   9/11/2021|2021-11-09|
|  16/05/2021|2021-05-16|
|  24/10/2021|2021-10-24|
+------------+----------+
only showing top 5 rows

In [ ]:
# Add seasonal columns
df_seasonal = (
    df_with_dates
    .withColumn("year", year("date"))                      
    .withColumn("month", month("date"))                    
    .withColumn("quarter", quarter("date"))                
    .withColumn(
        "season",                                          
        when(month("date").isin([12, 1, 2]), "Winter")     
        .when(month("date").isin([3, 4, 5]), "Spring")     
        .when(month("date").isin([6, 7, 8]), "Summer")     
        .otherwise("Fall")                                 
    )
)

df_seasonal.createOrReplaceTempView('seasonal_data')

In [13]:
# Monthly Sales Trends
monthly_query = """
SELECT 
    year,                                      
    month,                                     
    COUNT(*) as transaction_count,             
    SUM(quantity) as total_quantity,           
    SUM(price * quantity) as total_revenue,    
    AVG(price * quantity) as avg_transaction_value 
FROM seasonal_data 
WHERE date IS NOT NULL                         
GROUP BY year, month                           
ORDER BY year, month                           
"""

monthly_trends = spark.sql(monthly_query)
print("Monthly Trends:")
monthly_trends.show(24)

Monthly Trends:
+----+-----+-----------------+--------------+--------------------+---------------------+
|year|month|transaction_count|total_quantity|       total_revenue|avg_transaction_value|
+----+-----+-----------------+--------------+--------------------+---------------------+
|2021|    1|             3835|         11483|   9641614.620000066|   2514.1107222946716|
|2021|    2|             3407|         10179|   8772315.220000051|    2574.791670091004|
|2021|    3|             3813|         11383|   9455359.380000075|   2479.7690479937255|
|2021|    4|             3724|         11270|    9389541.54000008|   2521.3591675617827|
|2021|    5|             3848|         11620|    9771756.97000006|   2539.4378820166476|
|2021|    6|             3783|         11352|   9286271.350000052|   2454.7373380914755|
|2021|    7|             3984|         11986|  1.03111196800001E7|    2588.132449799222|
|2021|    8|             3723|         11205|   9630655.700000076|   2586.7998119796066|
|2021|    9|             3670|         10901|   9188165.620000076|    2503.587362397841|
|2021|   10|             3916|         11711|1.0263015060000084E7|   2620.7903626149346|
|2021|   11|             3798|         11355|   9265555.290000083|    2439.588017377589|
|2021|   12|             3881|         11651|   9585200.160000063|   2469.7758721979035|
|2022|    1|             3847|         11619|   9764311.140000043|   2538.1625006498684|
|2022|    2|             3447|         10248|   8344111.920000046|   2420.6881114012317|
|2022|    3|             3947|         11949|   9986685.160000086|   2530.1963921966267|
|2022|    4|             3763|         11288|   9326144.440000067|   2478.3801328727254|
|2022|    5|             3849|         11597|   9947574.130000072|    2584.456775785937|
|2022|    6|             3798|         11322|   9647503.950000063|     2540.15375197474|
|2022|    7|             3893|         11713|1.0067602950000066E7|   2586.0783329052315|
|2022|    8|             3912|         11716|    9651705.59000008|   2467.2049054192435|
|2022|    9|             3683|         11197|    9607629.29000007|    2608.642218300318|
|2022|   10|             3848|         11766|1.0282075370000076E7|   2672.0570088357786|
|2022|   11|             3765|         11231|   8941584.660000052|   2374.9228844621653|
|2022|   12|             3799|         11501|   9869885.480000066|   2598.0219742037552|
+----+-----+-----------------+--------------+--------------------+---------------------+
only showing top 24 rows
+----+-----+-----------------+--------------+--------------------+---------------------+
|year|month|transaction_count|total_quantity|       total_revenue|avg_transaction_value|
+----+-----+-----------------+--------------+--------------------+---------------------+
|2021|    1|             3835|         11483|   9641614.620000066|   2514.1107222946716|
|2021|    2|             3407|         10179|   8772315.220000051|    2574.791670091004|
|2021|    3|             3813|         11383|   9455359.380000075|   2479.7690479937255|
|2021|    4|             3724|         11270|    9389541.54000008|   2521.3591675617827|
|2021|    5|             3848|         11620|    9771756.97000006|   2539.4378820166476|
|2021|    6|             3783|         11352|   9286271.350000052|   2454.7373380914755|
|2021|    7|             3984|         11986|  1.03111196800001E7|    2588.132449799222|
|2021|    8|             3723|         11205|   9630655.700000076|   2586.7998119796066|
|2021|    9|             3670|         10901|   9188165.620000076|    2503.587362397841|
|2021|   10|             3916|         11711|1.0263015060000084E7|   2620.7903626149346|
|2021|   11|             3798|         11355|   9265555.290000083|    2439.588017377589|
|2021|   12|             3881|         11651|   9585200.160000063|   2469.7758721979035|
|2022|    1|             3847|         11619|   9764311.140000043|   2538.1625006498684|
|2022|    2|             3447|         10248|   8344111.920000046|   2420.6881114012317|
|2022|    3|             3947|         11949|   9986685.160000086|   2530.1963921966267|
|2022|    4|             3763|         11288|   9326144.440000067|   2478.3801328727254|
|2022|    5|             3849|         11597|   9947574.130000072|    2584.456775785937|
|2022|    6|             3798|         11322|   9647503.950000063|     2540.15375197474|
|2022|    7|             3893|         11713|1.0067602950000066E7|   2586.0783329052315|
|2022|    8|             3912|         11716|    9651705.59000008|   2467.2049054192435|
|2022|    9|             3683|         11197|    9607629.29000007|    2608.642218300318|
|2022|   10|             3848|         11766|1.0282075370000076E7|   2672.0570088357786|
|2022|   11|             3765|         11231|   8941584.660000052|   2374.9228844621653|
|2022|   12|             3799|         11501|   9869885.480000066|   2598.0219742037552|
+----+-----+-----------------+--------------+--------------------+---------------------+
only showing top 24 rows

In [14]:
# Seasonal Analysis
seasonal_query = """
SELECT 
    season,
    COUNT(*) as transaction_count,
    SUM(quantity) as total_quantity,
    SUM(price * quantity) as total_revenue,
    AVG(price * quantity) as avg_transaction_value
FROM seasonal_data 
WHERE date IS NOT NULL
GROUP BY season
ORDER BY 
    CASE season 
        WHEN 'Spring' THEN 1
        WHEN 'Summer' THEN 2
        WHEN 'Fall' THEN 3
        WHEN 'Winter' THEN 4
    END
"""

seasonal_trends = spark.sql(seasonal_query)
print("Seasonal Trends:")
seasonal_trends.show()

Seasonal Trends:
+------+-----------------+--------------+-------------------+---------------------+
|season|transaction_count|total_quantity|      total_revenue|avg_transaction_value|
+------+-----------------+--------------+-------------------+---------------------+
|Spring|            23914|         71999| 6.03912084099987E7|   2525.3495195282553|
|Summer|            23093|         69294|5.859485921999889E7|   2537.3428839907715|
|  Fall|            22680|         68161|5.754802528999865E7|   2537.3908858024097|
|Winter|            29770|         89258|7.497170132999755E7|   2518.3641696337772|
+------+-----------------+--------------+-------------------+---------------------+

+------+-----------------+--------------+-------------------+---------------------+
|season|transaction_count|total_quantity|      total_revenue|avg_transaction_value|
+------+-----------------+--------------+-------------------+---------------------+
|Spring|            23914|         71999| 6.03912084099987E7|   2525.3495195282553|
|Summer|            23093|         69294|5.859485921999889E7|   2537.3428839907715|
|  Fall|            22680|         68161|5.754802528999865E7|   2537.3908858024097|
|Winter|            29770|         89258|7.497170132999755E7|   2518.3641696337772|
+------+-----------------+--------------+-------------------+---------------------+

In [15]:
# Category-Specific Seasonal Patterns
category_seasonal_query = """
SELECT 
    category,
    season,
    COUNT(*) as transaction_count,
    SUM(price * quantity) as total_revenue,
    AVG(price * quantity) as avg_transaction_value
FROM seasonal_data 
WHERE date IS NOT NULL
GROUP BY category, season
ORDER BY category, 
    CASE season 
        WHEN 'Spring' THEN 1
        WHEN 'Summer' THEN 2
        WHEN 'Fall' THEN 3
        WHEN 'Winter' THEN 4
    END
"""

category_seasonal = spark.sql(category_seasonal_query)
print("Category-Specific Seasonal Patterns:")
category_seasonal.show(50)

Category-Specific Seasonal Patterns:
+---------------+------+-----------------+--------------------+---------------------+
|       category|season|transaction_count|       total_revenue|avg_transaction_value|
+---------------+------+-----------------+--------------------+---------------------+
|          Books|Spring|             1218|  198980.10000000027|    163.3662561576357|
|          Books|Summer|             1144|  196647.00000000015|    171.8942307692309|
|          Books|  Fall|             1107|  182966.54999999996|    165.2814363143631|
|          Books|Winter|             1512|  255959.24999999988|   169.28521825396817|
|       Clothing|Spring|             8339| 2.786722927999941E7|    3341.795092936732|
|       Clothing|Summer|             7979|2.6282506799999498E7|   3293.9599949867775|
|       Clothing|  Fall|             7880|2.6066449199999392E7|   3307.9250253806335|
|       Clothing|Winter|            10289|3.3780605759998865E7|    3283.176767421408|
|      Cosmetics|Spring|             3580|  1606110.6599999652|    448.6342625698227|
|      Cosmetics|Summer|             3508|   1565694.619999965|   446.32115735460803|
|      Cosmetics|  Fall|             3493|  1583950.9599999657|    453.4643458345164|
|      Cosmetics|Winter|             4516|  2037106.6599999266|    451.0865057572911|
|Food & Beverage|Spring|             3613|  210094.33000000467|    58.14955161915435|
|Food & Beverage|Summer|             3425|  197840.44000000437|   57.763632116789594|
|Food & Beverage|  Fall|             3360|  192647.05000000377|    57.33543154762017|
|Food & Beverage|Winter|             4378|  248953.23000000877|   56.864602558247775|
|          Shoes|Spring|             2483|1.6412848989999864E7|    6610.088195730916|
|          Shoes|Summer|             2332|1.5768866579999883E7|    6761.949648370447|
|          Shoes|  Fall|             2231|1.4874613279999876E7|    6667.240376512719|
|          Shoes|Winter|             2988|1.9497122619999997E7|    6525.141439089692|
|       Souvenir|Spring|             1187|   148795.0500000004|   125.35387531592282|
|       Souvenir|Summer|             1167|  150448.98000000033|   128.91943444730106|
|       Souvenir|  Fall|             1104|   137440.4099999999|   124.49312499999989|
|       Souvenir|Winter|             1541|  199140.21000000235|   129.22791044776272|
|     Technology|Spring|             1132|          1.300635E7|    11489.70848056537|
|     Technology|Summer|             1197|          1.353345E7|   11306.140350877193|
|     Technology|  Fall|             1174|          1.356285E7|   11552.683134582623|
|     Technology|Winter|             1493|           1.77597E7|    11895.31145344943|
|           Toys|Spring|             2362|   940799.9999999934|    398.3065198983884|
|           Toys|Summer|             2341|   899404.7999999927|   384.19683895770726|
|           Toys|  Fall|             2331|   947107.8399999898|    406.3096696696653|
|           Toys|Winter|             3053|  1193113.6000000022|    390.8003930560112|
+---------------+------+-----------------+--------------------+---------------------+

+---------------+------+-----------------+--------------------+---------------------+
|       category|season|transaction_count|       total_revenue|avg_transaction_value|
+---------------+------+-----------------+--------------------+---------------------+
|          Books|Spring|             1218|  198980.10000000027|    163.3662561576357|
|          Books|Summer|             1144|  196647.00000000015|    171.8942307692309|
|          Books|  Fall|             1107|  182966.54999999996|    165.2814363143631|
|          Books|Winter|             1512|  255959.24999999988|   169.28521825396817|
|       Clothing|Spring|             8339| 2.786722927999941E7|    3341.795092936732|
|       Clothing|Summer|             7979|2.6282506799999498E7|   3293.9599949867775|
|       Clothing|  Fall|             7880|2.6066449199999392E7|   3307.9250253806335|
|       Clothing|Winter|            10289|3.3780605759998865E7|    3283.176767421408|
|      Cosmetics|Spring|             3580|  1606110.6599999652|    448.6342625698227|
|      Cosmetics|Summer|             3508|   1565694.619999965|   446.32115735460803|
|      Cosmetics|  Fall|             3493|  1583950.9599999657|    453.4643458345164|
|      Cosmetics|Winter|             4516|  2037106.6599999266|    451.0865057572911|
|Food & Beverage|Spring|             3613|  210094.33000000467|    58.14955161915435|
|Food & Beverage|Summer|             3425|  197840.44000000437|   57.763632116789594|
|Food & Beverage|  Fall|             3360|  192647.05000000377|    57.33543154762017|
|Food & Beverage|Winter|             4378|  248953.23000000877|   56.864602558247775|
|          Shoes|Spring|             2483|1.6412848989999864E7|    6610.088195730916|
|          Shoes|Summer|             2332|1.5768866579999883E7|    6761.949648370447|
|          Shoes|  Fall|             2231|1.4874613279999876E7|    6667.240376512719|
|          Shoes|Winter|             2988|1.9497122619999997E7|    6525.141439089692|
|       Souvenir|Spring|             1187|   148795.0500000004|   125.35387531592282|
|       Souvenir|Summer|             1167|  150448.98000000033|   128.91943444730106|
|       Souvenir|  Fall|             1104|   137440.4099999999|   124.49312499999989|
|       Souvenir|Winter|             1541|  199140.21000000235|   129.22791044776272|
|     Technology|Spring|             1132|          1.300635E7|    11489.70848056537|
|     Technology|Summer|             1197|          1.353345E7|   11306.140350877193|
|     Technology|  Fall|             1174|          1.356285E7|   11552.683134582623|
|     Technology|Winter|             1493|           1.77597E7|    11895.31145344943|
|           Toys|Spring|             2362|   940799.9999999934|    398.3065198983884|
|           Toys|Summer|             2341|   899404.7999999927|   384.19683895770726|
|           Toys|  Fall|             2331|   947107.8399999898|    406.3096696696653|
|           Toys|Winter|             3053|  1193113.6000000022|    390.8003930560112|
+---------------+------+-----------------+--------------------+---------------------+

In [16]:
# Year-over-Year Seasonal Comparison
yoy_seasonal_query = """
SELECT 
    year,
    season,
    COUNT(*) as transaction_count,
    SUM(price * quantity) as total_revenue,
    LAG(SUM(price * quantity)) OVER (PARTITION BY season ORDER BY year) as prev_year_revenue,
    ROUND(
        ((SUM(price * quantity) - LAG(SUM(price * quantity)) OVER (PARTITION BY season ORDER BY year)) 
         / LAG(SUM(price * quantity)) OVER (PARTITION BY season ORDER BY year)) * 100, 2
    ) as yoy_growth_percent
FROM seasonal_data 
WHERE date IS NOT NULL
GROUP BY year, season
ORDER BY season, year
"""

yoy_comparison = spark.sql(yoy_seasonal_query)
print("Year-over-Year Seasonal Comparison:")
yoy_comparison.show()

Year-over-Year Seasonal Comparison:
+----+------+-----------------+--------------------+--------------------+------------------+
|year|season|transaction_count|       total_revenue|   prev_year_revenue|yoy_growth_percent|
+----+------+-----------------+--------------------+--------------------+------------------+
|2021|  Fall|            11384|2.8716735970000252E7|                NULL|              NULL|
|2022|  Fall|            11296|2.8831289320000228E7|2.8716735970000252E7|               0.4|
|2021|Spring|            11385| 2.861665789000035E7|                NULL|              NULL|
|2022|Spring|            11559|2.9260403730000317E7| 2.861665789000035E7|              2.25|
|2023|Spring|              970|          2514146.79|2.9260403730000317E7|            -91.41|
|2021|Summer|            11490| 2.922804673000024E7|                NULL|              NULL|
|2022|Summer|            11603|2.9366812490000248E7| 2.922804673000024E7|              0.47|
|2021|Winter|            11123|2.7999130000000358E7|                NULL|              NULL|
|2022|Winter|            11093|2.7978308540000353E7|2.7999130000000358E7|             -0.07|
|2023|Winter|             7554|1.8994262790000215E7|2.7978308540000353E7|            -32.11|
+----+------+-----------------+--------------------+--------------------+------------------+

+----+------+-----------------+--------------------+--------------------+------------------+
|year|season|transaction_count|       total_revenue|   prev_year_revenue|yoy_growth_percent|
+----+------+-----------------+--------------------+--------------------+------------------+
|2021|  Fall|            11384|2.8716735970000252E7|                NULL|              NULL|
|2022|  Fall|            11296|2.8831289320000228E7|2.8716735970000252E7|               0.4|
|2021|Spring|            11385| 2.861665789000035E7|                NULL|              NULL|
|2022|Spring|            11559|2.9260403730000317E7| 2.861665789000035E7|              2.25|
|2023|Spring|              970|          2514146.79|2.9260403730000317E7|            -91.41|
|2021|Summer|            11490| 2.922804673000024E7|                NULL|              NULL|
|2022|Summer|            11603|2.9366812490000248E7| 2.922804673000024E7|              0.47|
|2021|Winter|            11123|2.7999130000000358E7|                NULL|              NULL|
|2022|Winter|            11093|2.7978308540000353E7|2.7999130000000358E7|             -0.07|
|2023|Winter|             7554|1.8994262790000215E7|2.7978308540000353E7|            -32.11|
+----+------+-----------------+--------------------+--------------------+------------------+